body {
  background-image: url("http://paperlief.com/images/microphone-on-stage-wallpaper-3.jpg");
}

h1 {
  display: flex;
  justify-content: left;
  font-weight: bolder;
  margin: 20px;
  padding-top: 40px;

}

h2{
  text-align: center;
}
.comedians-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.comedian-item {
  flex: 20%;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: left;
}

.text-danger {
  text-align: left;
}
.special-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.special-item {
  margin: 5px;
  text-align: left;
}

#special-info {
  margin-left: 10px;
}

.thumbnail {
  width: 60px;
}
